.invalid {
    border: 2px solid red;
}

.checkout {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    max-width: 400px;
    margin: auto;
}

.checkout input{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: 10px;
}